<div>
<div class="card">
    <mat-card>
        <h1>Instructions</h1>
        <h2>Step 1: Find Your ESPN League ID</h2>
        <h3>1) Navigate to your league's home page.</h3>
        <h3>2) Located in the URL you will find the League ID Value & Associated SeasonID: "leagueId=XXXXXX&seasonId=1234"</h3>
        <img class="avatar" src="../assets/league_id_url.png"  alt="">
    </mat-card>
</div>
<div class="card">
    <mat-card>
        <h2>Step 2: Locate your League's SWID & ESPN S2 Cookie Values</h2>
        <h3>1) Navigate to your league's home page</h3>
        <h3>2) Right click the screen and select insepct</h3>
        <h3>3) Navigate to 'Application'</h3>
        <h3>4) Underneath Storage you will find Cookies, from there locate and select https://fantasy.espn.com</h3>
        <h3>5) In the table on the right, locate or search for the two variables named SWID and ESPN_S2</h3>
        <div class = "flex">
            <div class="image-container" style="padding-right: 1rem;">
                <img class="avatar" src="../assets/SWID.png"  alt="">
            </div>
            <div class="image-container">
                <img class="avatar" src="../assets/S2.png"  alt="">
            </div>
        </div>
    
    </mat-card> 
</div>
<div class="card">
    <mat-card>
        <h2>Step 3: Copy & Paste All Values Into the Form Here & Click Generate League</h2>
        <h3>Note: Current Season is 2024</h3>
        <div [ngStyle]="{'color': hasError ? 'red' : 'green'}" style="padding-bottom: 0.5rem">{{responseMessage}}</div>
        <form>
            <mat-form-field class="example-full-width">
                <mat-label>League ID</mat-label>
                <input matInput [(ngModel)]="leagueId" name="leagueId">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Season</mat-label>
                <input matInput [(ngModel)]="season" name="season">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>SWID</mat-label>
                <input matInput [(ngModel)]="swid" name="swid">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>ESPN S2</mat-label>
                <input matInput [(ngModel)]="espnS2" name="espnS2">
              </mat-form-field>
      </form>
      <button mat-button class="btn" (click)="generateLeague(true)">Generate League</button>
    </mat-card> 
</div>

</div>