<mat-toolbar>
  <button *ngIf="mode === 'mobile'" class="menu" mat-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <img src="../assets/SLAMSTATS.png"  alt="NBA Logo" class="logo" *ngIf="mode !== 'desktop'">
  <ng-container *ngIf="mode === 'desktop'">
    
    <img src="../assets/SLAMSTATS.png"  alt="NBA Logo" >
    <div class="links">
      <a routerLink = "/">
        <button mat-button class="menu-button">
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </button>
      </a>
      <a routerLink = "/team">
        <button mat-button class="menu-button">
            <mat-icon>person</mat-icon>
            <span>Rosters</span>
        </button>
      </a>
      <a routerLink = "/league">
        <button mat-button class="menu-button">
            <mat-icon>group</mat-icon>
            <span>League Standings</span>
        </button>
      </a>
      <a routerLink = "/trade">
      <button mat-button class="menu-button">
        <mat-icon>compare_arrows</mat-icon>
        <span>Trade</span>
      </button>
      </a>
      <a routerLink = "/players">
        <button mat-button class="menu-button">
          <mat-icon>group</mat-icon>
          <span>Players</span>
        </button>
      </a>
    </div>
    <div style="width: 200px"></div>

  </ng-container>
</mat-toolbar>
<mat-divider></mat-divider>


<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav">
    <a routerLink = "/">
      <button mat-button class="menu-button">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
    </a>
    <a routerLink = "/team">
      <button mat-button class="menu-button">
          <mat-icon>person</mat-icon>
          <span>Your Team</span>
      </button>
    </a>
    <a routerLink = "/league">
      <button mat-button class="menu-button">
          <mat-icon>group</mat-icon>
          <span>Your League</span>
      </button>
    </a>
    <button mat-button class="menu-button">
      <mat-icon>compare_arrows</mat-icon>
      <span>Trade</span>
    </button>
    <a routerLink = "/players">
      <button mat-button class="menu-button">
        <mat-icon>group</mat-icon>
        <span>Players</span>
      </button>
    </a>
    <button mat-button class="menu-button">
      <mat-icon>group</mat-icon>
      <span>Buy Low</span>
    </button>
    <button mat-button class="menu-button">
      <mat-icon>group</mat-icon>
      <span>Sell High</span>
    </button>
  </mat-sidenav>


  <mat-sidenav-content>
      <div class="content">
        <router-outlet></router-outlet>
      
      </div>
      <footer class="footer">
        <div class="footer-text">&copy; SlamStats</div>
      </footer>
  </mat-sidenav-content>
</mat-sidenav-container>
<!-- Footer -->